<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% load static %}
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


    <title>Проекты</title>
  </head>
  <body>
    <div class="container">

      <div class="row row justify-content-end">
        <a href="{% url "signin" %}" class="btn btn-secondary mr-4">Вход в личный кабинет</a>
      </div>
      <div class="btn-group header-menu">
        <a href="{% url "home" %}" class="btn btn-secondary">Главная</a>
        <a href="{% url "catalog" %}" class="btn btn-secondary">Каталог</a>
        <a href="{% url "projects" %}" class="btn btn-secondary">Проекты</a>
        <a href="{% url "project" %}" class="btn btn-secondary">Мероприятия</a>
        <a href="#" class="btn btn-secondary">Организаторы</a>
      </div>
   </div>
        <div class="container text-center">
          <h1>Проекты</h1>
          <p>В данном разделе содержится краткая информация о проводимых в ближайшее время мероприятиях и проектах, участвующих в данных мероприятиях в городе Санкт-Петербург. В переди долгожданная пора новогодней атмосферы, большого количества самых красивых подарков для близких и родных.</p>
        <!-- Three columns of text below the carousel -->
      <div class="d-flex align-items-center p-3 my-3 text-light-50 bg-dark rounded box-shadow">
        <img class="mr-3" src="{% static 'img/mid_1.jpg' %}" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-light lh-100">ЕЛОЧНЫЕ ИГРУШКИ</h6>
        </div>
      </div>
      <div class="d-flex align-items-center p-3 my-3 text-light-50 bg-dark rounded box-shadow">
        <img class="mr-3" src="{% static 'img/u25.jpg' %}" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-light lh-100">ГОНЧАРНАЯ МАСТЕРСКАЯ</h6>
        </div>
      </div>
      <div class="d-flex align-items-center p-3 my-3 text-light-50 bg-dark rounded box-shadow">
        <img class="mr-3" src="{% static 'img/u26.jpg' %}" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-light lh-100">КЕРАМИЧЕСКАЯ ПОСУДА</h6>
        </div>
      </div>
      <div class="d-flex align-items-center p-3 my-3 text-light-50 bg-dark rounded box-shadow">
        <img class="mr-3" src="{% static 'img/u244.jpg' %}" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-light lh-100">СЛАДОСТИ В РАДОСТЬ</h6>
        </div>
      </div>
      </div>
        <footer class="container">
          <div class="row text-center bg-dark">
            <div class="col-6 col-md">
              <h5 class=" text-muted">Контакты</h5>
              <ul class="list-unstyled text-small">
                <li class=" text-light">Информация о организации, создающая этот сайт, контакты, возможно ссылки на НПА</li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5 class=" text-muted">Название компании</h5>
              <ul class="list-unstyled text-small">
                <li class=" text-light">ООО pro100</li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5 class=" text-muted">Страницы</h5>
              <ul class="list-unstyled text-small ">
                <li><a class="text-light" href="#">О нас</a></li>
                <li><a class="text-light" href="#">Мероприятия</a></li>
                <li><a class="text-light" href="#">Проекты</a></li>
                <li><a class="text-light" href="#">Организаторы</a></li>
                <li><a class="text-light" href="#">Участники</a></li>
              </ul>
            </div>
        </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>